<div class="classynav">
	<ul>
		<li class="active"><a href="/">Home</a></li>
		<li><a href="#">Pages</a>
			<%- include('drop-down-menu.ejs') %>
		</li>
		<li><a href="#">Mega Menu</a>
			<div class="megamenu">
				<ul class="single-mega cn-col-4">
					<li class="title">Catagories</li>
					<%- include('mega-menu-nav') %>
				</ul>
				<ul class="single-mega cn-col-4">
					<li class="title">Catagories</li>
					<%- include('mega-menu-nav') %>
				</ul>
				<ul class="single-mega cn-col-4">
					<li class="title">Catagories</li>
					<%- include('mega-menu-nav') %>
				</ul>
				<div class="single-mega cn-col-4">
					<!-- Single Featured Post -->
					<&- include('single-featured-post') %>

					<!-- Single Featured Post -->
					<&- include('single-featured-post') %>
				</div>
			</div>
		</li>
		<%- include('nav-links') %>
		<li><a href="contact.ejs">Contact</a></li>
	</ul>
</div>