<div class="col-12 col-md-6 col-lg-4">
	<!-- Single Featured Post -->
	<%- include('single-featured-post') %>

	<!-- Single Featured Post -->
	<%- include('single-featured-post') %>

	<!-- Single Featured Post -->
	<%- include('single-featured-post') %>

	<!-- Single Featured Post -->
	<%- include('single-featured-post') %>

	<!-- Single Featured Post -->
	<%- include('single-featured-post') %>

	<!-- Single Featured Post -->
	<%- include('single-featured-post') %>
</div>