<!DOCTYPE html>
<html <%- include('partials/language') %>>

<head>
    <%- include('partials/meta-tags') %>
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <%- include('partials/title') %>
    
    <!-- Favicon -->
    <%- include('partials/favicon') %>

    <!-- Core Stylesheet -->
    <%- include('partials/style') %>

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <%- include('partials/header') %>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <%- include('partials/hero-area') %>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">

                        <!-- Single Featured Post -->
                        <div class="single-blog-post featured-post mb-30">
                            <%- include('partials/single-featured-post-with-comment') %>
                        </div>

                        <!-- Single Featured Post -->
                        <div class="single-blog-post featured-post mb-30">
                            <%- include('partials/single-featured-post-with-comment') %>
                        </div>

                        <!-- Single Featured Post -->
                        <div class="single-blog-post featured-post mb-30">
                            <%- include('partials/single-featured-post-with-comment') %>
                        </div>

                        <!-- Single Featured Post -->
                        <div class="single-blog-post featured-post mb-30">
                            <%- include('partials/single-featured-post-with-comment') %>
                        </div>

                    </div>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination mt-50">
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">10</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="blog-sidebar-area">

                        <!-- Latest Posts Widget -->
                        <div class="latest-posts-widget mb-50">

                            <!-- Single Featured Post -->
							<%- include('partials/single-featured-post') %>

                            <!-- Single Featured Post -->
							<%- include('partials/single-featured-post') %>

                            <!-- Single Featured Post -->
							<%- include('partials/single-featured-post') %>

                            <!-- Single Featured Post -->
							<%- include('partials/single-featured-post') %>

                            <!-- Single Featured Post -->
							<%- include('partials/single-featured-post') %>

                            <!-- Single Featured Post -->
                            <%- include('partials/single-featured-post') %>
                        </div>

                        <!-- Popular News Widget -->
                        <%- include('partials/popular-news-widget') %>
                        <!-- Newsletter Widget -->
						<%- include('partials/newsletter-widget') %>

                        <!-- Latest Comments Widget -->
                        <%- include('partials/latest-comment-widget') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <%- include('partials/footer-area.ejs') %>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
	<%- include('partials/scripts.ejs') %>
</body>

</html>